.container
  p about text
    //oauth-buttons(classes='btn-sm')
    | contacts contact one, two  
    a.btn.btn-social-icon.btn-twitter(href='#', socialshare='', socialshare-provider='twitter', socialshare-text='720kb AngularJS Socialshare', socialshare-hashtags='angularjs, angular-socialshare', socialshare-url='http://720kb.net')
     span.fa.fa-twitter
    a.btn.btn-social-icon.btn-google(href='#', socialshare='', socialshare-provider='google', socialshare-text='720kb AngularJS Socialshare', socialshare-hashtags='angularjs, angular-socialshare', socialshare-url='http://720kb.net')
     span.fa.fa-google
    a.btn.btn-social-icon.btn-facebook(href='#', socialshare='', socialshare-provider='facebook', socialshare-text='720kb AngularJS Socialshare', socialshare-hashtags='angularjs, angular-socialshare', socialshare-url='http://720kb.net')
     span.fa.fa-facebook
    a.btn.btn-social-icon.btn-reddit(href='#', socialshare='', socialshare-provider='reddit', socialshare-text='720kb AngularJS Socialshare', socialshare-hashtags='angularjs, angular-socialshare', socialshare-url='http://720kb.net')
     span.fa.fa-reddit
    a.btn.btn-social-icon.btn-vk(href='#', socialshare='', socialshare-provider='vk', socialshare-text='720kb AngularJS Socialshare', socialshare-hashtags='angularjs, angular-socialshare', socialshare-url='http://720kb.net')
     span.fa.fa-vk 