.container
  div
    //img.img-thumbnail.img-responsive(src='assets/images/1ban.png')
    h3 {{"siInfoLogo" | translate}}
    p {{"siInfoBlock" | translate}}
    h3 {{"siInfoLogo2" | translate}}
    p  
      {{"siInfoBlock2" | translate}}
      button.btn.btn-primary.btn-sm(type='button' ui-sref='sbcrun') {{"startButton" | translate}}



