.container.container-centered
    .row.row-centered
      //.col-sm-1
      .col-sm-4.col-centered
        h4 {{"main.sztitle" | translate}}
        a(ui-sref='szinfo') 
          img.img-thumbnail.img-responsive(src='assets/images/szondiBanner.png')
        //button.btn.btn-primary.btn-sm(ui-sref='szinfo') {{"startButton" | translate}}
        p {{"main.szp" | translate}}
      .col-sm-4.col-centered
        h4 {{"main.ltitle" | translate}}
        a(ui-sref='lusher') 
          img.img-thumbnail.img-responsive(src='assets/images/lusherBanner.png')
        //button.btn.btn-primary.btn-sm(ui-sref='lusher') {{"startButton" | translate}}
        p {{"main.lp" | translate}}  
      .col-sm-4.col-centered
        h4 {{"main.sititle" | translate}}
        a(ui-sref='sbcInfo') 
          img.img-thumbnail.img-responsive(src='assets/images/siBanner.png')
        //button.btn.btn-primary.btn-sm(ui-sref='sbcInfo') {{"startButton" | translate}}
        p {{"main.sip" | translate}}  
