.container
  div
    //img.img-thumbnail.img-responsive(src='assets/images/expressions/ContemplativeFlusteredEncouragingAmused.jpg')
    h2.text-success {{"siresLogo" | translate}}
    p {{"siresScore" | translate}} - {{vm.result}}%
    p {{"siresP1" | translate}} 
    br 
    p {{"siresP2" | translate}} 
    br 
    p {{"siresP3" | translate}} 
    
   
    

