.container
  div
    //img.img-thumbnail.img-responsive(src='assets/images/3ban.png')
    h2 {{"linfop1" | translate}}
    p {{"linfop2" | translate}}
    button.btn.btn-primary.btn-sm(type='button' ui-sref='lrun') {{"startButton" | translate}}

